button.warning {
    position: relative;
    display: inline-block;
    width: 300px;
    height: 300px;
    line-height: 300px;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 -1px 1px #777;
    color: #fff;
    outline: none;
    border: 2px solid #F64C2B;
    border-radius: 5px;
    box-shadow: 0 0 0 60px rgba(0,0,0,0) inset, .1em .1em .2em #800;
    background: linear-gradient(#FB9575, #F45A38 48%, #EA1502 52%, #F02F17);
  }
  button.warning:active {
    top: .1em;
    left: .1em;
    box-shadow: 0 0 0 60px rgba(0,0,0,.05) inset;
  }

  button.button25 {
    position: relative;
    display: inline-block;
    width: 300px;
    height: 300px;
    line-height: 300px;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 -1px 1px #777;
    color: rgb(255, 255, 255);
    outline: none;
    border: 2px solid rgb(4, 49, 34);
    border-radius: 5px;
    box-shadow: 0 0 0 60px rgba(0,0,0,0) inset, .1em .1em .2em rgb(50, 136, 0);
    background: linear-gradient(rgb(193, 251, 117), rgb(94, 244, 56) 48%, rgb(2, 234, 72) 52%, rgb(6, 109, 58));
  }
  button.button25:active {
    top: .1em;
    left: .1em;
    box-shadow: 0 0 0 60px rgba(0,0,0,.05) inset;
  }
