  

    <div class = "col s6 m6 l6">  
       <button routerLink  = "/home" routerLinkActive="active-link" class="waves-effect waves-light btn-large pulse cyan" 
       (click)="start(true)"><i class="material-icons left">autorenew</i>
        грати
      </button>
    </div>

    <div class = "col s6 m6 l6">  
        <button routerLink  = "/login" routerLinkActive="active-link" class="waves-effect waves-light btn-large cyan right" 
        (click)="start(false)">
        <i class="material-icons right">dvr</i>
        вийти
     </button> 
    </div>
